#container
{
    background-color: aqua
        
}
#secondary
{
    background-color: brown
}
#third
{
    background-color: darkgray
}
#fourth
{
    background-color: chartreuse
}
#fifth
{
    background-color: darkturquoise
}